<!-- menu begin-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
			<%	if(userInfo) { %>
								
			<%
				console.log(userInfo);
                var menuMap = userInfo.menuMap;
                if(Object.prototype.toString.call(menuMap) === '[object Array]') {
            %>

            <% menuMap.forEach(function(item){  %>
	            <li class="sub-menu">
	                <%	if(item.url == 'none'){   %>
							<a href="javascript:;">
	                <%	} else {  %> 
							<a href="<%=item.url%>">
	                <%	}	%>
	                		<%	if(item.tag == 'ArticleManage') {%>
									<i class="icon-comment"></i>
	                		<%	} %>
	                		<%	if(item.tag == 'AutoSendManage') {%>
									<i class="icon-globe"></i>
	                		<%	} %>
	                		<%	if(item.tag == 'Nickfilter') {%>
									<i class="icon-laptop"></i>
	                		<%	} %>
	                		<%	if(item.tag == 'CommentManage') {%>
									<i class="icon-book"></i>
	                		<%	} %>
	                		<%	if(item.tag == 'tongji') {%>
									<i class="icon-th"></i>
	                		<%	} %>
	                		<%	if(item.tag == 'adminUserManage') {%>
									<i class="icon-user"></i>
	                		<%	} %>
							<span><%=	item.title	%></span>
							</a>
					<%	if(item.sub != null){ 	%>	
							<ul class="sub">
							<% item.sub.forEach(function(item2){  %>
								<li>
									<a href="<%=item2.url%>">
										<%=item2.title%>
									</a>	
								</li>	
							<% }); %>
							</ul>
					<%	}	%>
	            </li>
            <% }); %>

            <%}%>

            <%	} else { %>
					<script language="javascript" type="text/javascript">
				           window.location.href="/logout"; 
				    </script>
            <%  } %>
            <!-- menu end-->
            </ul>
        <!-- sidebar menu end-->


    </div>
</aside>
